.name {
    padding: 200px;
}
.img {
    width: 320px;
}
.wiki.btn {
    background-color: gainsboro;
    color: black;
    
}

.video.btn {
    background-color: red;
    color: white;
  
}

.books.btn {
    background-color: orange;
    color: white;
}

.mid {
    padding: 40px;
    font-size: 20px;
}
.break {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.base {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.box {
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0%;
    padding-top: 5px;
}
.break1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.footer {
    padding: 2%;
    display: flex;
    font-size: small;
    color: white;
   
    
}

.poet {
    padding-right: 20px;
    padding-left: 20px;
}

.vr {
    margin-left: 20px;
    margin-right: 20px;
}
.foot {
    margin: 10px;
}